body {
  padding: 0px;
  margin: 0px;
  font-family: Pokemon-Classic;
  * {
    padding: 0px;
    margin: 0px;
  }
}

@font-face {
  font-family: "Pokemon-Classic";
  src: url("Pokemon-Classic.woff") format("woff");
}

/*********************CABECERA******************/

.borde-blanco-negro {
  background-color: white;

  border: double 9px black;
}

.fondo-cabecera {
  background-color: #8acdd7;
}
.contenedor-cabecera {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.logo-cabecera {
  text-align: center;
  margin: 6px;
  font-size: large;
  margin-bottom: 10px;
  color: black;
}

.botones-cabecera {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

  a {
    font-size: small;
    padding: 7px;
    padding-bottom: 9px;
    padding-left: 10px;
    margin: 9px;
    color: white;
    background-color: black;
    text-decoration: none;
  }
}

/*********************FOOTER******************/
footer {
  background-color: black;
  border: solid white 4px;
  color: white;
  display: flex;
  flex-direction: column;
}

.contenedor-footer {
  width: 90%;
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  span {
    font-size: x-large;
    margin: 10px;
  }
}

.footer-content {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

  p {
    font-size: x-large;
  }
  img {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    color: white;
    height: 50px;
    width: 43px;
  }
}

/*MAIL*/
.contenedor-mail {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 14px;
  p {
    margin-left: initial;
  }
}

.mailto {
  display: flex;
  flex-direction: row;
  align-content: center;

  p {
    margin: 0%;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/*REDES*/
.contenedor-redes {
  display: flex;
  flex-direction: column;

  margin-top: 7px;
  margin-bottom: 7px;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*********************RESPONSIVE******************/
@media screen and (max-width: 850px) {
  .footer-content {
    p {
      font-size: large;
    }

    img {
      height: 40px;
      width: 33px;
    }
  }

  .logo-cabecera {
    font-size: medium;
  }

  .botones-cabecera {
    a {
      font-size: x-small;
    }
  }
}

/************************************I N D E X*******************************/
/*********************MAIN******************/
.fondo-inicio {
  background-color: #a6d567;
}

/*********************BANNER******************/
.banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
}

.imagen-banner {
  width: 33.333333%;
}

/*********************CONOCELO******************/

.conocelo {
  background-color: white;
  border-bottom: solid black 4px;
  border-top: solid black 4px;
}

.contenedor-conocelo {
  display: flex;
  flex-direction: column;
  font-size: large;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.presentacion-breve {
  margin: 10px;

  line-height: 1.35;
  text-align: center;
}

.boton-conocelo {
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  padding: 5px;
  padding-bottom: 7px;
  padding-left: 8px;
}

/*********************PROYECTOS INICIO******************/
.proyectos-inicio {
  width: 90%;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contenedor-proyecto {
  width: 30%;
  min-width: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 6px;
  margin-right: 6px;
}

.proyecto-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: #bc4420;

  img {
    width: 100%;
    aspect-ratio: 16/9;
  }

  p {
    border-top: solid black 4px;
    text-align: center;
    padding: 7px;
  }
}

/*********************RESPONSIVE******************/
@media screen and (max-width: 850px) {
  .contenedor-conocelo {
    font-size: small;
  }
}

/************************************P R O Y E C T O S*******************************/
/*********************MAIN******************/
.fondo-proyectos {
  background-color: #bc4420;

  display: flex;
}

.margen-principal {
  width: 90%;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

/*********************BLOQUE IZQUIERDO******************/
.contenedor-izquierdo {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: initial;
}

.bordeBlanco-FondoNegro {
  display: flex;
  border: solid white 4px;
  background-color: black;
  color: white;
}

.preview-img {
  display: flex;
  margin-top: 14px;
  margin-right: 7px;
  margin-bottom: 7px;
  display: flex;

  img {
    margin: 7px;
    width: 100%;

    aspect-ratio: 16/9;
  }
}

.contenedor-inferior {
  margin-top: 7px;
  margin-right: 7px;
  margin-bottom: 14px;

  padding: 7px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    margin-left: auto;
    margin-right: auto;

    font-size: medium;

    padding: 7px;
    padding-bottom: 10px;
    padding-left: 10px;

    margin-top: 14px;
    margin-bottom: 14px;
    color: black;
    background-color: white;
    text-decoration: none;

    border: solid white 4px;
    text-align: center;
  }
}

.preview-texto {
  display: flex;
  flex-direction: column;
  span {
    font-size: larger;
  }

  p {
    margin-top: 14px;
    font-size: larger;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
/*********************BLOQUE DERECHO******************/
.contenedor-derecho {
  margin-right: initial;
  display: flex;
  flex-direction: column;
  width: 50%;

  padding: 7px;
  margin-top: 14px;
  margin-left: 7px;
  margin-bottom: 14px;
}

.listado-proyectos {
  text-decoration: none;
  color: white;
  font-size: x-large;

  border: solid black 7px;
}

.contenedor-derecho .listado-proyectos:hover {
  border: solid #4aa22a 7px;
}

/*********************RESPONSIVE******************/
@media screen and (max-width: 850px) {
  .listado-proyectos {
    font-size: small;

    border: 0px;
  }
  .preview-texto {
    span {
      font-size: small;
    }
    p {
      font-size: small;
    }
  }

  .contenedor-izquierdo {
    width: 51%;
  }

  .contenedor-derecho {
    width: 49%;
    a {
      margin-bottom: 7px;
    }
  }

  .margen-principal {
    width: 95%;
  }

  .contenedor-inferior {
    a {
      font-size: small;
    }
  }
}

/************************************APARTADO SOBRE MI*******************************/
/*********************MAIN******************/

/*********************BLOQUE NEGRO INICIAL******************/
.negro-perfil {
  width: 90%;
  display: flex;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  margin-top: 14px;

  margin-bottom: 14px;

  img {
    width: 24%;
    aspect-ratio: 1/1;
    min-width: 200px;
  }
}

/*********************introduccion INICIAL******************/
.mi-introduccion {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: flex;

  margin-bottom: 21px;
  flex-direction: column;
  p {
    line-height: 1.35;
    font-size: x-large;
    padding: 7px;
  }
}

/*********************ARTICULOS******************/
.contenedor-articulo {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: flex;

  margin-bottom: 21px;
  flex-direction: column;

  display: flex;
  justify-content: center;

  h2 {
    padding: 7px;
  }
}

.ver-proyectos {
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;

  margin-bottom: 14px;
  text-decoration: none;
  font-size: larger;
  color: white;
  background-color: black;
  border: solid #bc4420 4px;
  padding: 14px;

  text-align: center;
}

.contenedor-textos {
  border-bottom: solid black 2px;

  display: flex;

  flex-direction: column;
  span {
    color: grey;
    padding: 7px;
  }

  h3 {
    padding-left: 7px;

    padding-right: 7px;

    padding-top: 7px;
  }

  h4 {
    padding-left: 7px;

    padding-right: 7px;

    padding-bottom: 7px;
  }

  p {
    font-size: x-large;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px;
  }

  a {
    align-self: start;
    margin: 7px;
    text-decoration: none;
    font-size: small;
    color: black;
    background-color: white;
    border: solid black 2px;
    padding: 7px;

    text-align: center;
  }
}

.grado {
  background-color: black;
  color: white;

  span {
    color: white;
  }

  a {
    color: white;
    background-color: black;
    border: solid white 2px;
  }
}

/*********************RESPONSIVE******************/
@media screen and (max-width: 850px) {
  .negro-perfil {
    flex-direction: column;
    width: 62%;
    img {
      width: 100%;
      align-self: center;
      margin-bottom: 7px;
    }
  }

  .mi-introduccion {
    width: 90%;
    p {
      font-size: medium;
    }
  }

  .contenedor-articulo {
    width: 90%;
    margin-bottom: 21px;

    font-size: medium;
    h2 {
      font-size: larger;
    }

    a {
      font-size: medium;
    }
  }

  .contenedor-textos {
    span {
      font-size: medium;
    }

    h3 {
      font-size: larger;
    }

    h4 {
      font-size: medium;
    }

    p {
      font-size: larger;
    }
  }
}

/************************************ARTICULO DE PROYECTO*******************************/
/*********************MAIN******************/

.margen-articulo-proyecto {
  width: 90%;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

/*********************BLOQUE NEGRO INICIAL******************/
.negro-inicial {
  width: 90%;
  display: flex;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  margin-top: 14px;

  margin-bottom: 14px;

  img {
    width: 43%;
    aspect-ratio: 16/9;

    min-width: 250px;
  }
}

.titulos-iniciales {
  display: flex;
  flex-direction: column;
  margin-left: 34px;
  margin-top: 10px;

  font-size: larger;
  span {
    font-size: xx-large;
  }

  h1 {
    margin-bottom: 14px;
    margin-top: 14px;
  }
}

/*********************TEXTO CENTRADO INICIAL******************/
.bloque-inicial {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: flex;

  margin-bottom: 21px;
  flex-direction: column;
}

.textos {
  p {
    font-size: x-large;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px;
  }
}
.contenedor-titulo {
  border-bottom: solid black 4px;

  h2 {
    padding: 7px;
  }
}

.boton-al-proyecto {
  border-top: solid black 4px;
  display: flex;
  justify-content: center;
  a {
    margin: 14px;
    text-decoration: none;
    font-size: larger;
    color: white;
    background-color: black;
    border: solid #bc4420 4px;
    padding: 14px;

    text-align: center;
  }
}

/*********************ARTICULOS DESARROLLO******************/
.bloque-desarrollo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 14px;
}

.bloque-texto {
  width: 45%;
  margin: 7px;
}

.derecha-imagen {
  width: 45%;
  padding: 7px;

  margin: 7px;
}

/*********************FONDO MAIN******************/
.volver-proyectos {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 14px;

  text-decoration: none;
  font-size: larger;
  padding: 14px;

  text-align: center;
}

/*********************RESPONSIVE******************/

@media screen and (max-width: 1317px) {
  .titulos-iniciales {
    margin-left: 14px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 850px) {
  .negro-inicial {
    flex-wrap: wrap;
    width: 93%;
    img {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }

  .titulos-iniciales {
    margin: 0;

    span {
      font-size: medium;
    }

    h1 {
      font-size: large;
      margin-top: 0px;
    }
  }

  .contenedor-titulo {
    h2 {
      font-size: medium;
    }
  }

  .textos {
    p {
      font-size: larger;
    }
  }

  .bloque-inicial {
    width: 90%;
  }

  .bloque-texto {
    width: 90%;
  }

  .derecha-imagen {
    width: 90%;
  }
}
