body {
  padding: 0px;
  margin: 0px;
  font-family: Pokemon-Classic;
  * {
    padding: 0px;
    margin: 0px;
  }
}

@font-face {
  font-family: "Pokemon-Classic";
  src: url("Pokemon-Classic.woff") format("woff");
}

@font-face {
  font-family: "Myanmar1";
  src: url("Myanmar1.woff") format("woff");
}

/*********************CABECERA******************/

.borde-blanco-negro {
  background-color: white;

  border: double 9px;
}

.fondo-cabecera {
  background-color: #8acdd7;
}
.contenedor-cabecera {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.logo-cabecera {
  text-align: center;
  margin: 7px;

  margin-bottom: 10px;
  color: black;
}

.botones-cabecera {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

  a {
    font-size: small;
    padding: 7px;
    padding-bottom: 9px;
    padding-left: 10px;
    margin: 7px;
    color: white;
    background-color: black;
  }
}

/*********************MAIN******************/
main {
  background-color: #a6d567;
}

/*********************FOOTER******************/
footer {
  background-color: black;
  border: solid white 4px;
  color: white;
  display: flex;
  flex-direction: column;
}

.contenedor-footer {
  width: 90%;
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  span {
    font-size: larger;
    margin: 10px;
  }
}

.footer-content {
  font-family: Myanmar1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 10px;

  p {
    font-size: x-large;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  img {
    margin: 5px;
    color: white;
    height: 25px;
    width: 25px;
  }
}

/*MAIL*/
.contenedor-mail {
  display: flex;
  flex-direction: column;
}

.mailto {
  display: flex;
  flex-direction: row;
  align-content: center;

  p {
    margin: 0%;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/*REDES*/
.contenedor-redes {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
